#
# Example .env file for 1754
# 

# required
#   80 for HTTP; 443 for HTTPS; usually 
#   3000/8000/8080 for development
SERVER_PORT=443 

# optional (default false)
#   use HTTPS (SSL_CA, SSL_CERT, SSL_KEY must be specified)
ENABLE_SSL=true

# optional (required if ENABLE_SSL is true)
#   These are the default names for the cert files generated 
#   by Let's Encrypt, which I assume you're using. The default
#   path is /etc/letsencrypt/live/<domain name>/<file>.pem
SSL_CA=/path/to/chain.pem
SSL_CERT=/path/to/cert.pem
SSL_KEY=/path/to/privkey.pem

# see <https://google.com/recaptcha>
GRECAPTCHA_SITE_KEY=your_site_key
GRECAPTCHA_SECRET=your_secret_key