<!DOCTYPE html>
<html lang="en">

<title>1754 Game</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="icon" href="/icon.png" />
<link rel="stylesheet" href="/main.css" />

<div id="error"></div>

<body style="visibility: hidden; background-color: #333;">

  <h1>1754</h1>

  <div class="container">
    <div class="navbar"></div>
    <div class="window">
      <object data="/northAmerica.svg" type="image/svg+xml" id="north-america-svg"></object>
      <div id="hex"></div>
    </div>
  </div>

  <script crossorigin src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script crossorigin src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"></script>

  <!-- ! switch to production -->
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  
  <script src="/main.js"></script>
</body>



</html>