<!DOCTYPE html>
<html lang="en">
  <title>1754 Game</title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" href="/icon.png" />
  <link rel="stylesheet" href="/main.css" />

  <body style="visibility: hidden; background-color: #333;">
    <div id="modal"></div>

    <div id="header">
      <h1 id="header-title">1754</h1>
      <div class="spacer"></div>
      <span class="header-text header-text--login"></span>
      <button class="header-button header-button--login">Login</button>
    </div>

    <div id="container">
      <div id="navbar"></div>
      <div id="window">
        <object id="north-america-svg" data="/northAmerica.svg" type="image/svg+xml"></object>
        <div id="hexes"></div>
      </div>
    </div>

    <script async src="/vendor/fontawesome.js"></script>
    <script src="/vendor-jquery.js"></script>
    <script src="/vendor-react.js"></script>
    <script src="/vendor-other.js"></script>
    <script src="/teacher.js"></script>
  </body>
</html>
