<!DOCTYPE html>
<html lang="en">
  <title>1754 | Home</title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" href="/icon.png" />
  <link rel="stylesheet" href="/main.css" />

  <body style="visibility: hidden; background-color: #333;">
    <div id="modal"></div>

    <div id="header">
      <h1 id="header-title">1754</h1>
      <div class="spacer"></div>
      <span class="header-text header-text--login"><strong>Offline</strong> (not logged in)</span>
      <button class="header-button header-button--login">Login</button>
    </div>

    <div id="container">
      <div id="navbar"></div>
      <div id="window">
        <object id="north-america-svg" data="/northAmerica.svg" type="image/svg+xml"></object>
        <div id="hexes"></div>
      </div>
    </div>

    <script src="/vendor/fontawesome.js"></script>
    <script src="/vendor_jquery.js"></script>
    <script src="/vendor_react.js"></script>
    <script src="/vendor_react-dom.js"></script>
    <script src="/main.js"></script>
  </body>
</html>
