@import "~normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.spacer {
  flex-grow: 1;
}

*:not(body) {
  box-sizing: border-box;
}

html {
  background-color: #333;
}

body {
  color: #ddd;
  margin: 20px auto;
  // padding: 20px;
  max-width: 800px;
  font: 16px 'Lato';

  header {
    padding: 0px 20px;
  }
  main {
    padding: 0px 20px;
  }
}

