@import '../common/vars.scss';
@import '../common/header.scss';

body {
  color: #ddd;
  margin: 20px auto;
  // padding: 20px;
  max-width: 800px;
  font: 16px 'Lato';
}

*:not(body) {
  box-sizing: border-box;
}

.icon-button {
  border-radius: 50%;
  border: 2px solid transparent;
  margin-right: 8px;
  height: 30px;
  width: 30px;
  padding: 4px;
  transition: $button-anim;
  fill: #ddd;
  color: #ddd;
  background: transparent;
  &:hover {
    color: #333;
    fill: #333;
    background: #ddd;
    border: 2px solid transparent;
  }
}

#login {
  margin-top: 1em;
  left: 50%;
  width: auto;
  height: auto;
  overflow: hidden;
  max-height: 400px;
  transition: max-height 0.5s;
}
.form-button {
  font: 1em 'Concert One';
  background: #ddd;
  color: #333;
  padding: 5px 11px 9px;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: $button-anim;
  &:hover {
    background: #333;
    color: #ddd;
    border: 2px solid #ddd;
  }
}
.form-button--teacher {
  $blue: map-get($map: $colors, $key: 'france');
  background: $blue;
  &:hover {
    background: transparent;
    color: $blue;
    border: 2px solid $blue;
  }
}
.form-button--student {
  $green: map-get($map: $colors, $key: 'mohawk');
  background: $green;
  &:hover {
    background: transparent;
    color: $green;
    border: 2px solid $green;
  }
}

#login-form {
  max-height: 0px;
  margin-top: 16px;
  overflow: hidden;
  transition: max-height 0.5s;
  

  .form-container .form-header {
    display: flex;
    margin-bottom: 16px;
    h2 {
      display: inline;
      margin: 0;
    }
  }
  input {
    padding-left: 8px;
    border: none;
    background: #ddd;
    border-radius: var(--item-border-radius);
    margin-bottom: 16px;
    position: relative;
    padding: 0.75rem 1.25rem;
    // margin-bottom: 1rem;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 0.25rem;
    width: 100%;
  }
}
