<!DOCTYPE html>
<html>
  <meta charset="utf-8" />
  <title>Mr. Marx | Class Site</title>
  <%= htmlWebpackPlugin.options.faviconTags %>
  <%= htmlWebpackPlugin.tags.headTags %>

  <div class="navbar">
    <ul>
      <li class="menuLink"><a href="/parents">For Parents</a></li>
      <li id="logo">
        <h2><a href="/">Mr. Marx's Class</a></h2>
      </li>
      <li class="menuLink"><a href="/writing-guide">Writing Guide</a></li>
    </ul>
  </div>

  <div class="flexMargin">
    <h1>Homework</h1>

    <div class="sectionBreak"></div>

    <iframe
      id="homework"
      src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTGFMYqZloA-0ueKoQiIqgwSgYFRpaJl518wFln8hEGyK9x8eamflyqxn-93gKnMeZmkKFLvzfPNTMn/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"
    ></iframe>
  </div>

  <footer class="gray">
    <div class="footerContent">
      <div id="firstFooter">Contact: <a href="mailto:jmarx@bphsnj.org">jmarx@bhpsnj.org</a></div>
      <span class="happyDay" id="day">Happy Day!</span>
      <div id="thirdFooter">Columbia Middle School</div>
    </div>
  </footer>

  <%= htmlWebpackPlugin.tags.bodyTags %>
</html>
