<!DOCTYPE html>
<html>
  <meta charset="utf-8" />
  <title>Mr. Marx | Class Site</title>
  <%= htmlWebpackPlugin.options.faviconTags %>
  <%= htmlWebpackPlugin.tags.headTags %>

  <div class="navbar">
    <ul>
      <li class="menuLink"><a href="/parents">For Parents</a></li>
      <li id="logo">
        <h2><a href="/">Mr. Marx's Class</a></h2>
      </li>
      <li class="menuLink"><a href="/writing-guide">Writing Guide</a></li>
    </ul>
  </div>

  <div class="flexMargin">
    <h2>Class Info</h2>
    <div class="section info grid">
      <a class="infoCard" href="/homework"><h3>Homework</h3></a>
      <a
        class="infoCard"
        href="https://docs.google.com/document/d/e/2PACX-1vQsV4LkW8a8EWUUC5Wt56J8RpxagVPiohuwYWek9S82BBs2BtynWazcEcD-9j2QpRs_TtF-ha0baXfc/pub"
        ><h3>Syllabus</h3></a
      >
    </div>
  </div>
  <footer class="gray">
    <div class="footerContent">
      <div id="firstFooter">Contact: <a href="mailto:jmarx@bphsnj.org">jmarx@bhpsnj.org</a></div>
      <span class="happyDay" id="day">Happy Day!</span>
      <div id="thirdFooter">Columbia Middle School</div>
    </div>
  </footer>

  <%= htmlWebpackPlugin.tags.bodyTags %>
</html>
