<!DOCTYPE html>
<html>
  <meta charset="utf-8" />
  <title>Mr. Marx | Class Site</title>
  <%= htmlWebpackPlugin.options.faviconTags %>
  <%= htmlWebpackPlugin.tags.headTags %>

  <div class="navbar">
    <ul>
      <li class="menuLink"><a href="/parents">For Parents</a></li>
      <li id="logo">
        <h2><a href="/">Mr. Marx's Class</a></h2>
      </li>
      <li class="menuLink"><a href="/writing-guide">Writing Guide</a></li>
    </ul>
  </div>

  <div class="flexMargin">
    <h1 class="header">Info for Parents</h1>

    <div class="sectionBreak"></div>
    <div class="section">
      <h2>Email updates</h2>
      <p>
        Throughout the year, I will send out updates to parents on what is happening in the class.
        This usually contains information about upcoming quizzes or major assignments. Use the
        button below to access the form to be added to the email list.
      </p>
      <br />
      <a class="button" href="https://goo.gl/forms/r0wJL8yX3LWg9pey2">I want email updates!</a>
    </div>

    <div class="sectionBreak"></div>
    <h2 class="header">FAQ</h2>
    <div class="faq">
      <h3>What content will my child be learning this year?</h3>
      <p>We will be studying American history from the first colonies through the Civil War.</p>
    </div>
    <div class="faq">
      <h3>How are grades determined?</h3>
      <p>
        I use a point system, with each assignment being worth a certain amount. A typical marking
        period will have between 300 and 400 points. Quizzes are usually 15-50 points, tests are
        50-100, essays are 50-100, projects and larger presentations are 50-100. We will also do
        many class activities and take-home assignments that are worth less.
      </p>
    </div>
    <div class="faq">
      <h3>How is homework graded?</h3>
      <p>
        There is no separate homework grade, however there will often be homework assigned. I make
        use of the “flipped classroom,” in which students watch videos at home in place of
        teacher-led instruction. This will provide the time in class for more student-centered
        learning. Students will ultimately be assessed on their understanding of the HW on tests,
        quizzes, and other assignments.
      </p>
    </div>
    <div class="faq">
      <h3>What are the minimum requirements for an honors recommendation?</h3>
      <p>
        An 87 cumulative average plus a teacher recommendation. Recommendations are made towards the
        end of the second marking period. Students who earn an honors recommendation need to
        maintain their average over the remainder of the school year.
      </p>
    </div>
    <div class="faq">
      <h3>What are the keys to doing well in this class?</h3>
      <p>
        Just like any other class, keeping up with assignments and turning everything in on time is
        critical. If students have questions or are struggling with a concept, they should come see
        me during EP. They should also bring drafts of long-term writing assignments to me during
        EP.
      </p>
    </div>
    <!-- <div class="faq">
      <h3>Are you available for extra help?</h3>
      <p>
        Yes! Students should arrange a time to meet with me before or after school for extra help.
      </p>
    </div> -->
    <div class="faq">
      <h3>How will students be using the iPads this year?</h3>
      <p>
        Students will use the iPads for many daily functions, such as organization, completing
        assessments, and turning in assignments. Beyond that, my goal is to use the iPad to
        transform the classroom so that students can create in ways that were previously impossible.
        There are many great educational apps, with new ones being created all the time. We will use
        them for exciting ways to check for understanding, collaborate with classmates, take virtual
        field trips, and more. Some apps that I have used in the past with success are Kahoot,
        Nearpod, iMovie, and the Google Suite.
      </p>
    </div>

    <div class="sectionBreak"></div>
    <h2 class="header">How to help your child prepare for ...</h2>
    <h3>Quizzes</h3>
    <p class="justified">
      In order to study for quizzes, students should refer back to their notes from the unit.
      Student notebooks will be color coded, with the handouts that should be studied on colored
      paper, and other handouts on white paper. Each unit will have a different color. In addition,
      the notes that should be studied for a given quiz will be posted on the front board in class.
      If you are helping your child study, the first action to take should be to find the notes on
      colored paper from that unit. <br /><br />
      When it comes to studying, I highly recommend mind maps because they help students create
      connections between the information. In creating mind maps, students also need to organize the
      information in a logical way, which will help them to understand the material. Below are
      examples of mind maps that students have created in the past.
    </p>

    <img
      class="image is-45"
      src="images/Mind Map 2.png"
      class="articleImg"
      alt="Mind map example"
    />
    <img
      class="image is-45"
      src="images/Mind Map 3.png"
      class="articleImg"
      alt="Mind map example"
    />

    <p>
      Many mind mapping apps exist as well, with
      <a href="https://itunes.apple.com/us/app/pureflow/id600955222?mt=8">PureFlow</a> being a
      popular choice. The mind map below was created by a student who used it to study for the final
      exam.
    </p>

    <img class="image" src="images/Mind Map.png" class="articleImg" alt="Mind map example" />

    <p>
      As stated on the syllabus, students will be able to earn additional points on a test/quiz
      provided they have fulfilled the following criteria:
    </p>

    <ul>
      <li>
        The original score must be less than a 75. The maximum score students can earn with the
        additional points is a 75.
      </li>
      <li>
        The student must have watched all the homework videos and completed the notes from the unit.
      </li>
      <li>
        The student must meet with me at least one day before the quiz/test to show me how they are
        studying (mind maps, outlines, etc., but not simply reading over the notes).
      </li>
    </ul>

    Any students who meet this criteria will be given a verbal quiz to demonstrate their
    understanding of the concepts from the unit and the amount of additional points earned will
    depend on the accuracy and depth of the answers provided.

    <h3>Assignments</h3>
    <p>
      Major assignments will be accompanied with rubrics, which are reviewed in class. It is vital
      for students to check the assignment page and rubric before beginning work and once again
      before submitting it to ensure that all components are included. The best way you can help
      your student on major assignments is to encourage them to read over the assignment page before
      submitting their work.
    </p>
  </div>

  <footer class="gray">
    <div class="footerContent">
      <div id="firstFooter">Contact: <a href="mailto:jmarx@bphsnj.org">jmarx@bhpsnj.org</a></div>
      <span class="happyDay" id="day">Happy Day!</span>
      <div id="thirdFooter">Columbia Middle School</div>
    </div>
  </footer>

  <%= htmlWebpackPlugin.tags.bodyTags %>
</html>
