<!DOCTYPE html>
<html>
  <meta charset="utf-8" />
  <title>Mr. Marx | Class Site</title>
  <%= htmlWebpackPlugin.options.faviconTags %>
  <%= htmlWebpackPlugin.tags.headTags %>

  <div class="navbar">
    <ul>
      <li class="menuLink"><a href="/parents">For Parents</a></li>
      <li id="logo">
        <h2><a href="/">Mr. Marx's Class</a></h2>
      </li>
      <li class="menuLink"><a href="/writing-guide">Writing Guide</a></li>
    </ul>
  </div>

  <h1 class="flexMargin">Unit 10: The Age of Jackson</h1>

  <div class="flexMargin sectionBreak"></div>

  <iframe
    class="flexMargin"
    src="https://drive.google.com/embeddedfolderview?id=1oyf2p3DJTkrK6LCmQPXz_MCHbXi_mm3u#grid"
    width="700"
    height="500"
    frameborder="0"
  ></iframe>

  <footer class="gray">
    <div class="footerContent">
      <div id="firstFooter">Contact: <a href="mailto:jmarx@bphsnj.org">jmarx@bhpsnj.org</a></div>
      <span class="happyDay" id="day">Happy Day!</span>
      <div id="thirdFooter">Columbia Middle School</div>
    </div>
  </footer>

  <%= htmlWebpackPlugin.tags.bodyTags %>
</html>
